*{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}
.container #header{
    font-style: italic;
    margin-bottom: 30px;
    
}
#chicken{
    background-color: #D3D3D3;
    margin-left: -8px;

}

#beef{
    background-color: #D3D3D3;

   
}

#sushi{
    background-color: #D3D3D3;

}
